*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 320px;
  background: linear-gradient(to right, #444444, #1d2c27);
  color: #F6F6F6;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Header */

.header {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.header span {
  align-self: flex-end;
}

h1 {
  margin-right: 10px;
  font-size: 10vw;
  text-shadow: 3px 2px 2px #A2D5C6;
}

@media screen and (max-width: 425px) {
  .header {
    flex-direction: column;
    align-items: center;
    margin-right: 0px;
  }

  .header span {
    align-self: center;
  }

  h1 {
    margin-right: 0px;
  }

}

@media screen and (width >=768px) {
  h1 {
    font-size: 77px;
  }
}

/* Scores */

.all-scores {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 4px solid #A2D5C6;
  border-radius: 10px;
  box-shadow: -4px -4px 2px #F6F6F6;
  height: 80px;
  margin: 35px auto 45px;
  max-width: 775px;
  text-align: center;
  width: 80%;
}

.all-scores span {
  font-size: 36px;
}

.player {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 150px;
}

.score {
  font-size: 33px;
}

.tag {
  color: #A2D5C6;
}

@media screen and (width >=768px) {
  .score {
    font-size: 44px;
  }
}

/* Game Interface */

.game-interface {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 0 80px;
}

.board-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.status {
  font-weight: 600;
  font-size: 25px;
  text-align: center;
  margin-bottom: 10px;
}

.all-squares {
  display: flex;
  flex-direction: column;
}

.square {
  background: #fff;
  color: #2b2b2b;
  border: 2px solid #A2D5C6;
  font-size: 40px;
  font-weight: 600;
  height: 80px;
  width: 80px;
  cursor: pointer;
}

.square:hover {
  background-color: #f4eeee;
}

.square--winning,
.square--winning:hover {
  background-color: palegreen;
}

.board-row {
  display: flex;
}

.board-row:first-child .square:first-child {
  border-top-left-radius: 10px;
}

.board-row:first-child .square:nth-child(3) {
  border-top-right-radius: 10px;
}

.board-row:nth-child(3) .square:first-child {
  border-bottom-left-radius: 10px;
}

.board-row:nth-child(3) .square:nth-child(3) {
  border-bottom-right-radius: 10px;
}

.move-info {
  margin: 18px 0 0;
}

.move-info ol {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  list-style-type: none;
}

.move-info ol button {
  padding: 7px;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  border: 2px solid #A2D5C6;
}

.move-info ol li:first-child button {
  background-color: #a9eed9;
  border: 2px solid #266854;
}

.move-info ol li:first-child button:hover {
  background-color: #82cab5;
}

.move-info ol button:hover {
  background-color: rgb(203, 203, 203);
}

.winner-stats {
  display: none;
  padding-top: 45px;
  width: 275px;
}

.winner-stats ol {
  border: 3px solid #A2D5C6;
  border-radius: 10px;
  padding: 0 20px;
}

.winner-stats li {
  margin: 8px;
  list-style-type: none;
}

.winner-list {
  text-align: center;
  font-size: 20px;
  width: 250px;
}

/* winner timeline (use a UL in the component) */
.winner-stats .winner-list {
  border: 5px solid #A2D5C6;
  border-radius: 10px;
  box-shadow: -3px -2px 2px #F6F6F6;
  padding: 10px 16px;
  max-height: 240px;
  /* control when scrollbar appears */
  overflow-y: auto;
  box-sizing: border-box;
  list-style-type: none;
}

.winner-stats .winner-list__empty {
  color: #cfcfcf;
  font-style: italic;
}

.time-log {
  font-size: 14px;
  font-style: italic;
  margin-right: 8px;
}

@media screen and (max-width: 859px) {
  .move-info {
    max-width: 545px;
    margin-top: 40px;
  }
}

@media screen and (min-width: 860px) {
  .game-interface {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .winner-stats {
    display: flex;
    justify-content: center;
  }

  .move-info,
  .winner-stats,
  .board-container {
    width: 33%;
  }

  .move-info {
    max-width: 500px;
  }
}

@media screen and (min-width: 900px) {
  .square {
    width: 100px;
    height:100px;
  }
}